.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  overflow: hidden;

}

.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cor-verde-overlay);
  z-index: 1;
}

.banner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.banner-logo {
  position: relative;
  z-index: 2;
  width: 40rem;
  max-width: 40rem;
  height: auto;
}