* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #25702480;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-menu {
  background-color: #E1E1E1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 150px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card1, .card2, .card3 {
  border: #25702495 solid 10px;
  border-radius: 10px;
  padding: 10px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifications {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px 50px;
  padding: 15px 30px;
  border-radius: 20px;
  gap: 15px;
}

.title-notifications {
  display: flex;
  justify-content: space-between;
}

.cards-notification {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-notification {
  border-left: 10px solid #1C8A1A;
  background-color: #A7E2BD;
  padding: 15px 5px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}

.title-content {
  text-decoration: underline;
  text-shadow: 1px 1px 2px black;
}

.title-notifications h2 {
  text-shadow: 1px 1px 2px black;
}

.info-text span {
  font-size: 13px;
  color: #666666;
  font-weight: 400  ;
}

.info-text h4 {
  font-weight: 500;
}

.title-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}

@media (max-width: 1280px) {
  .content-menu {
    padding: 20px 100px;
  }
  .cards {
    gap: 20px;
  }
}