* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #25702480;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-menu {
  background-color: #E1E1E1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}

.card1, .card2, .card3 {
  border: #25702475 solid 10px;
  border-radius: 10px;
  padding: 33px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifications {
  background-color: white;
  margin: 10px 50px;
  height: fit-content;
}

.title-notifications {
  display: flex;
  justify-content: space-between;
}

.cards-notification {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-notification {
  background-color: #A7E2BD;
}