.export-dropdown {
  position: relative;
  display: inline-block;
}

.export-dropdown .btn-exportar {
      min-width: 100px;
    height: 40px;
    padding: 0.5rem 1rem;
    background-color: #4ade80;
    border-color: #4ade80;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-exportar:hover {
  background-color: #4ade80;
}

.btn-selecionar {
  background-color: #257024;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-selecionar:hover:not(.disabled) {
  background-color: #1d5c1d;
}

.btn-selecionar.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.export-menu {
  position: relative;
  background: #4ade80;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 6px;
  right: 0;
  min-width: 160px;
  z-index: 10;
}

.export-menu button,
.export-menu .csv-link {
  width: 100%;
  text-align: left;
  padding: 10px 14px;
  background-color: #ffffff; /* Garante fundo branco em cada item */
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  transition: background 0.2s;
  display: block;
  text-decoration: none; /* Remove sublinhado se for link */
}

.export-menu button:hover,
.export-menu .csv-link:hover {
   background-color: #4ade80;
}