    .container-banco {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .title-content-banco {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .content-banco {
        background-color: #E1E1E1;
        height: 100%;
    }

    .bottons-banco ul {
        display: flex;
        gap: 10px;
        padding: 20px 10px;
        justify-content: center;
    }

    .bottons-banco button {
        background-color: #25702475;
        border: none;
        padding: 5px 20px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: space-between;
    }

    .bottons-banco button:hover {
        background-color: #257024;
    }

    .bottons-banco ul li {
        list-style: none;
    }

    .content-semente {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;
        padding: 30px;
        margin: 0px 30px 30px 30px;
        background-color: white;
        height: 100%;
    }

    .header-content-semente {
        display: flex;
        justify-content: space-between;
    }

    .header-content-semente h1 {
        text-decoration: underline;
        font-size: 25px;
    }
    .infos-sementes-card table {
        width: 100%;
    }

    .infos-sementes-card table tr th {
        background-color: #25702480;
        padding: 12px 8px;
        color: white;
        font-size: 15px;
    }

    .infos-sementes-card table tr td {
        text-align: center;
        padding: 12px 8px;
        background-color: #74748015;
        color: #00000080;
    }

    .infos-sementes-card table tr th img {
        width: 15px;
        cursor: pointer;
    }

    .input-search {
        background-color: white;
        border: black 1px solid;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .input-search img {
        width: 20px;
        cursor: pointer;
    }

    .input-search input {
        border: none;
        outline: none;
        font-size: 16px;
    }